<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>find</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
</head>

<body>
  /index/view/index_find.html<br/><br/><br/><br/>
  {$len}<br/>
  {$aa}<br/>
  {$abc}<br/>
  {$a}
  <hr/>
  {volist name="article" id="vo"}
  <a href="{$vo.link}">{$vo.title}</a><br/>
  <img src="{$vo.timg}" style="width:500px;"/><br/>
  <div>
    {$vo.content}
  </div>
  {/volist}


</body>

</html>
