#main>ul.treelist{background-color:#fff;min-height:1000px;padding-top:1px;border-radius:5px}
#main>ul.treelist div{display:inline;width:0;height:0}
#main>ul.treelist li{border-bottom:1px solid #ddd;height:40px;line-height:40px;padding-left:10px;cursor:pointer;margin-top:-2px}
#main>ul.treelist li:hover{background-color:#f9f9f9}
#main>ul.treelist li:hover>span{display:inline}
#main>ul.treelist li.display{display:none}
#main>ul.treelist li .indent{display:inline-block;width:10px;height:37px;vertical-align:middle;margin-left:10px;border-left:1px dotted #8f8a8a;margin-top:-3px}
#main>ul.treelist li>.icon-add,#main>ul.treelist li .icon-sub{font-size:20px;vertical-align:middle;margin-right:10px}
#main>ul.treelist li>em{color:#1b8ac2}
#main>ul.treelist li>span{display:none;margin-left:10px;color:#666}
#main>ul.treelist li>span>i,#main>ul.treelist li>span a{margin-right:10px;color:#666}