<!--
@Author: 左盐
@Date:   2017-16-03 23:31:25
@Email:  huabinglan@163.com
@Project: xxxx
@Last modified by:   左盐
@Last modified time: 2017-16-03 23:39:29
-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- <link rel="stylesheet" href="/assets/css/pizza.css"> -->
    <title>登录</title>

    <link rel="stylesheet" type="text/css" href="/static/pkg/view/admin/login_index.html_aio_cc85189.css" />
    <link rel="stylesheet" href="/node_modules/element-ui/lib/theme-default/index.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_s7j5duxyx4dkj4i.css" />
</head>

<body>
    <div id="app"></div>

<script data-loader="data-loader" charset="utf-8" src="/static/plugins/mod_ff30d04.js"></script>
<script type="text/javascript" src="/static/node_modules/process/browser_a3bde2e.js"></script>
<script type="text/javascript" src="/static/node_modules/vue-layer/dist/vue-layer_ac8b606.js"></script>
<script type="text/javascript" src="/static/pkg/view/admin/login_index.html_aio_6caf4cc.js"></script>
<script src="//cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="//cdn.bootcss.com/vue-router/2.5.3/vue-router.min.js"></script>
<script src="//cdn.bootcss.com/element-ui/1.3.2/index.js"></script>
<script src="//cdn.bootcss.com/babel-polyfill/7.0.0-alpha.9/polyfill.min.js"></script>
<script type="text/javascript">
        var login = require('site/admin/pages/login/login.vue');
        var layer = require('node_modules/vue-layer/dist/vue-layer');
        var ElementUI = require('element-ui');

        Vue.use(ElementUI);

        Vue.prototype.$layer = layer(Vue);
        var app = new Vue({
            el: '#app',
            render: h => h(login),
        });
    </script>
</body>

</html>
