<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>登录</title>

    <link rel="stylesheet" type="text/css" href="/static/pkg/view/admin/login_index.html_aio.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_s7j5duxyx4dkj4i.css" />
</head>

<body>
    <div id="app"></div>

<script data-loader="data-loader" charset="utf-8" src="/static/plugins/mod.js"></script>
<script type="text/javascript" src="/static/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/static/node_modules/process/browser.js"></script>
<script type="text/javascript" src="/static/node_modules/vue-layer/dist/vue-layer.js"></script>
<script type="text/javascript" src="/static/pkg/view/admin/login_index.html_aio.js"></script>
<script type="text/javascript" src="/static/node_modules/babel-polyfill/dist/polyfill.min.js"></script>
<script type="text/javascript" src="/static/site/admin/loginmain.js"></script>
<script type="text/javascript">
        require('admin/loginmain');
    </script>
</body>

</html>
