#main>ul.treelist{background-color:#fff;min-height:1000px;padding-top:1px;border-radius:5px}
#main>ul.treelist div{display:inline;width:0;height:0}
#main>ul.treelist li{border-bottom:1px solid #ddd;height:40px;line-height:40px;padding-left:10px;cursor:pointer;margin-top:-2px}
#main>ul.treelist li:hover{background-color:#f9f9f9}
#main>ul.treelist li:hover>span{display:inline}
#main>ul.treelist li.display{display:none}
#main>ul.treelist li .indent{display:inline-block;width:10px;height:37px;vertical-align:middle;margin-left:10px;border-left:1px dotted #8f8a8a;margin-top:-3px}
#main>ul.treelist li>.icon-add,#main>ul.treelist li .icon-sub{font-size:20px;vertical-align:middle;margin-right:10px}
#main>ul.treelist li>em{color:#1b8ac2}
#main>ul.treelist li>span{display:none;margin-left:10px;color:#666}
#main>ul.treelist li>span>i,#main>ul.treelist li>span a{margin-right:10px;color:#666}
#main > ul.treelist {
  background-color: #fff;
  min-height: 1000px;
  padding-top: 1px;
  border-radius: 5px;
}
#main > ul.treelist div {
  display: inline;
  width: 0;
  height: 0;
}
#main > ul.treelist li {
  border-bottom: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  margin-top: -2px;
}
#main > ul.treelist li:hover {
  background-color: #f9f9f9;
}
#main > ul.treelist li:hover > span {
  display: inline;
}
#main > ul.treelist li.display {
  display: none;
}
#main > ul.treelist li .indent {
  display: inline-block;
  width: 10px;
  height: 37px;
  vertical-align: middle;
  margin-left: 10px;
  border-left: 1px dotted #8f8a8a;
  margin-top: -3px;
}
#main > ul.treelist li > .icon-add,
#main > ul.treelist li .icon-sub {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
#main > ul.treelist li > em {
  color: #1b8ac2;
}
#main > ul.treelist li > span {
  display: none;
  margin-left: 10px;
  color: #666;
}
#main > ul.treelist li > span > i,
#main > ul.treelist li > span a {
  margin-right: 10px;
  color: #666;
}

.node-select{position:absolute!important;top:1px;width:200px;height:37px;left:146px}
#content{height:500px}
[class^=pzicon-],[class*=pzicon-]{font-family:pzcms!important;font-weight:400;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;font-size:16px;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
[class^=pzicon-]:before,[class*=pzicon-]:before{text-decoration:inherit;display:inline-block;speak:none}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::after,::before{box-sizing:border-box}
html{font-family:@font-family;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family:@font-family;color:@color;background-color:@bgcolor}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{font:inherit;margin:0;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
li,ul{list-style:none;margin:0;padding:0}
div,li,p{margin:0;font-size:14px;[data-dpr="1"] &{font-size:1.5em}}
b,em,i{font-style:normal}
b{font-weight:400}
h1,h2,h3,h4,h5,h6{font-weight:400;margin-top:0;margin-bottom:0;font-size:1.5em}
label{vertical-align:middle}
/**
* @Author: 左盐
* @Date:   2017-16-03 21:01:14
* @Email:  huabinglan@163.com
* @Project: xxxx
 * @Last modified by:   左盐
 * @Last modified time: 2017-17-03 17:25:16
*/
/**flex 父元素定义 **/
/**flex 子元素定义 **/
body {
  background-color: #2E363F;
  font-size: 14px;
}
a {
  background-color: transparent;
  color: #1b8ac2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
}
a:active,
a:hover {
  color: #005d9c;
  outline: 0;
}
#header {
  background-color: #1f262d;
  color: #fff;
  height: 77px;
  position: relative;
}
#header > h1 {
  height: 77px;
  font-size: 15px;
  font-size: 20px;
  padding: 20px;
}
#header > h1 > i {
  font-size: 28px;
  color: #da542e;
}
#user-nav {
  position: absolute;
  top: 0;
  left: 220px;
  height: 38px;
}
#user-nav > ul {
  width: 100%;
  height: 100%;
  clear: both;
  color: #fff;
  border-left: 1px solid #2e363f;
  border-right: 1px solid #2e363f;
}
#user-nav > ul > li {
  min-width: 10px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  padding: 0 10px;
  color: #999;
}
#user-nav > ul > li i {
  margin-right: 5px;
  vertical-align: baseline;
}
#user-nav > ul > li a {
  font-size: 13px;
}
#searchkw {
  position: absolute;
  right: 20px;
  width: 200px;
  top: 3px;
  color: #fff;
}
#searchkw > input[type=search] {
  background-color: #47515b;
  color: #fff;
  height: 26px;
}
#sidebar {
  width: 220px;
  position: relative;
  z-index: 16;
}
#sidebar > ul li {
  min-height: 40px;
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
  line-height: 40px;
}
#sidebar > ul li > a {
  padding-left: 15px;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  color: #939da8;
}
#sidebar > ul li > a > i {
  margin-right: 10px;
}
#sidebar > ul li > .display {
  display: block;
}
#sidebar > ul li:first {
  border-top: none;
}
#sidebar > ul li > ul > li > a {
  padding-left: 40px;
}
#sidebar > ul > li > a.active,
#sidebar > ul > li > a:hover {
  background-color: #27a9e3;
  color: #fff;
}
#sidebar > ul > li > ul > li > a.router-link-active,
#sidebar > ul > li > ul > li > a:hover {
  background-color: #28b779;
  color: #fff;
}
#main-parent {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-box;
  display: flex;
}
#main {
  position: relative;
  background-color: #eee;
  margin-top: -37px;
  padding: 10px 0 100px 20px;
  min-height: 700px;
  font-size: 14px;
  z-index: 1000;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
}
#main div.menu {
  margin-bottom: 10px;
}
#main div.menu > em,
#main div.menu a,
#main div.menu div,
#main div.menu select {
  margin: 0 10px;
}
#main div.menu > em {
  color: #1b8ac2;
  cursor: pointer;
}
#main ul.list {
  background-color: #fff;
  min-height: 500px;
  padding-top: 1px;
}
#main ul.list > ul.list {
  min-height: 50px;
  margin-top: -8px;
  padding-left: 34px;
  background-color: ivory;
}
#main ul.list > ul.list > li {
  min-height: 30px;
  height: auto;
}
#main ul.list > ul.list > li > a {
  min-height: 30px;
  display: inline-block;
  max-width: 600px;
  word-break: break-all;
}
#main ul.list > ul.list > li:hover {
  background-color: ivory;
}
#main ul.list > form,
#main ul.list div.form {
  padding-top: 20px;
}
#main ul.list > li {
  border-bottom: 1px solid #ddd;
  min-height: 30px;
  line-height: 30px;
  padding-left: 10px;
  margin: 8px 0;
}
#main ul.list > li:hover {
  background-color: #fcfcfc;
}
#main ul.list > li:hover > span {
  display: inline;
}
#main ul.list > li > span {
  margin-left: 10px;
  font-size: 11px;
  display: none;
}
#main ul.list > li > span > i,
#main ul.list > li > span a {
  font-size: 12px;
  color: #666;
  margin: 0 5px;
  cursor: pointer;
}
#main ul.list > li > b {
  margin-left: 0;
  color: #d9534f;
}
#main ul.list > .turnpage {
  background-color: ivory;
  margin-top: -8px;
  padding: 7px 20px;
  height: 60px;
}
.el-form {
  width: 1000px;
}

#main>ul.indexlist{background-color:#fff;border-radius:5px;min-height:80px;padding:20px}
#main>ul.indexlist>li{width:230px;height:74px;display:inline-block;margin:0 15px 15px 0;background-color:#27a9e3;text-align:center}
#main>ul.indexlist>li:hover{background-color:#666}
#main>ul.indexlist>li>a{display:inline-block;position:relative;width:230px;height:74px;color:#fff;padding:9px}
#main>ul.indexlist>li>a>i{margin:0 auto;font-size:24px;display:block}
#main>ul.indexlist>li>a>.tip{position:absolute;top:-10px;right:0;background-color:#f74d4d;display:inline-block;min-width:23px;padding:0 5px;height:23px;line-height:23px;font-size:12px}
#main>ul.indexlist>.li1{background-color:#27a9e3}
#main>ul.indexlist>.li2{background-color:#28b779}
#main>ul.indexlist>.li3{background-color:#da542e}
#main>ul.indexlist>.li4{background-color:#ffb848}
.pz-form{width:800px}
