body{background-color:#2E363F!important}
.login{width:360px;height:342px;margin:7% auto;padding:40px 0;border-top:1px solid #3f4954;border-bottom:1px solid #3f4954}
.login>h2{font-weight:700;color:#fff;margin-bottom:25px;text-align:center}
.login>.login-content{width:100%;height:343px}
.login>.login-content>div>button{float:right}
.code>.el-form-item__content{display:-webkit-flex;display:-webkit-box;display:-ms-box;display:flex}
.code>.el-form-item__content img{width:100px;height:37px;margin-left:15px}
.code>.el-form-item__content .el-input{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0}
@font-face{font-family:pzcms;src:url(/static/assets/font/iconfont.eot?t=1486191147480);src:url(/static/assets/font/iconfont.eot?t=1486191147480#iefix) format('embedded-opentype'),url(/static/assets/font/iconfont.woff?t=1486191147480) format('woff'),url(/static/assets/font/iconfont.ttf?t=1486191147480) format('truetype'),url(/static/assets/font/iconfont.svg?t=1486191147480#pzcms) format('svg')}
[class^=pzicon-],[class*=pzicon-]{font-family:pzcms!important;font-weight:400;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;font-size:16px;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
[class^=pzicon-]:before,[class*=pzicon-]:before{text-decoration:inherit;display:inline-block;speak:none}
.pzicon-tree:before{content:"\e789"}
.pzicon-accountfilling:before{content:"\e732"}
.pzicon-github:before{content:"\e618"}
.pzicon-weixin:before{content:"\e694"}
.pzicon-zhifubao:before{content:"\e695"}
.pzicon-xinlangweibo:before{content:"\e69e"}
.pzicon-qq:before{content:"\e69f"}
.pzicon-bianji:before{content:"\e620"}
.pzicon-zhuyi:before{content:"\e625"}
.pzicon-shoucang:before{content:"\e62a"}
.pzicon-shoucangxuanzhong:before{content:"\e62b"}
.pzicon-caidan:before{content:"\e62c"}
.pzicon-liebiao:before{content:"\e62d"}
.pzicon-dingwei:before{content:"\e62f"}
.pzicon-shouye:before{content:"\e639"}
.pzicon-comment:before{content:"\e602"}
.pzicon-category:before{content:"\e603"}
.pzicon-mail:before{content:"\e604"}
.pzicon-tag:before{content:"\e605"}
.pzicon-time:before{content:"\e606"}
.pzicon-user:before{content:"\e608"}
.pzicon-feed:before{content:"\e611"}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::after,::before{box-sizing:border-box}
html{font-family:@font-family;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family:@font-family;color:@color;background-color:@bgcolor}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{font:inherit;margin:0;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
li,ul{list-style:none;margin:0;padding:0}
div,li,p{margin:0;font-size:14px;[data-dpr="1"] &{font-size:1.5em}}
b,em,i{font-style:normal}
b{font-weight:400}
h1,h2,h3,h4,h5,h6{font-weight:400;margin-top:0;margin-bottom:0;font-size:1.5em}
label{vertical-align:middle}
