<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OPPO手机，手机中的战斗机</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="fragment" content="!">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/pkg/view/home/index_touch.html_aio.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_e87awzjsh3ufecdi.css" />
</head>

<body>
    <div id="app"></div>


<script data-loader="data-loader" charset="utf-8" src="/static/pkg/view/home/index_touch.html_aio.js"></script>
<script type="text/javascript" src="/static/node_modules/process/browser.js"></script>
<script type="text/javascript" src="/static/node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/static/pkg/view/home/index_touch.html_aio_2.js"></script>
<script type="text/javascript" src="/static/node_modules/vue-layer/dist/vue-layer.js"></script>
<script type="text/javascript" src="/static/pkg/view/home/index_touch.html_aio_3.js"></script>
<script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
<script>
        require("touch/main");
    

        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5ebafcafc065e88a795202881659767d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>
