<!DOCTYPE html>
<html>

<head>
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="fragment" content="!">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" type="text/css" href="/static/pkg/view/home/index_index.html_aio_dbfc4d6.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/element-ui/1.3.2/theme-default/index.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_41o5lgr1codjwcdi.css" />
</head>

<body>
    <div id="app"></div>


<script data-loader="data-loader" charset="utf-8" src="/static/pkg/view/home/index_index.html_aio_decca26.js"></script>
<script type="text/javascript" src="/static/node_modules/process/browser_a3bde2e.js"></script>
<script type="text/javascript" src="/static/node_modules/vue-layer/dist/vue-layer_ac8b606.js"></script>
<script type="text/javascript" src="/static/pkg/view/home/index_index.html_aio_2_825cb33.js"></script>
<script src="//cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
<script src="//cdn.bootcss.com/vue-router/2.5.3/vue-router.min.js"></script>
<script src="//cdn.bootcss.com/element-ui/1.3.2/index.js"></script>
<script src="//cdn.bootcss.com/babel-polyfill/7.0.0-alpha.9/polyfill.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=NqxbXYt9Fmx2N91d5Au3xNKtAcGv2rdi"></script>
<script>
        require("home/main");
    

        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5ebafcafc065e88a795202881659767d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>
