/**
* @Author: 左盐 <zuoyan>
* @Date:   2017-10-03 23:51:43
* @Email:  huabinglan@163.com
* @Project: xxxx
* @Last modified by:   zuoyan
* @Last modified time: 2017-12-03 20:07:30
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: @font-family;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: @font-family;
    color: @color;
    background-color: @bgcolor;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
    color: inherit;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div, li, p {
    margin: 0;
    font-size: 14px;
    [data-dpr="1"] & {
        font-size: 1.5em;
    }
}

b, em, i {
    font-style: normal;
}

b {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

label {
    vertical-align: middle;
}

.content-h1title {
  color: #546176;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.content-gap {
  border-bottom: 1px dashed #dfe1e2;
  font-size: 12px;
  padding-bottom: 10px;
  color: #546176;
}
.content-content {
  padding: 20px;
  color: #546176;
}

.team-myteam {
  height: 360px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}
.team-myteam .team-h2 {
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  color: #02b2b5;
  margin-bottom: 10px;
}
.team-myteam h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
.team-myteam span {
  display: inline-block;
  width: 26px;
  height: 2px;
  border-bottom: 2px solid #02b2b5;
  margin-bottom: 20px;
}
.team-myteam p {
  line-height: 32px;
}
.team-list {
  width: 100%;
  min-height: 100px;
  margin: 20px auto;
  clear: both;
}
.team-list li {
  width: 100%;
  height: 450px;
  text-align: center;
  padding: 0 0.8rem;
  margin-bottom: 0.7rem;
}
.team-list li .team-list-div {
  width: 6rem;
  height: 7.9rem;
  overflow: hidden;
}
.team-list li .team-list-div img {
  -webkit-transition: all ease 0.5s;
  width: 100%;
}
.team-list li p {
  text-align: center;
}
.team-list li p.p1 {
  color: #666;
  margin-top: 10px;
  font-size: 16px;
}
.team-list li p.p2 {
  font-size: 18px;
}

.menu-menu {
  position: fixed;
  width: 100%;
  min-height: 2rem;
  padding: 0.3rem 0;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  z-index: 100;
}
.menu-menu li {
  height: 0.8rem;
  line-height: 0.8rem;
}
.submenu {
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 0.7rem;
}
.submenu a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.gap-item {
  width: 100%;
  height: 2.12rem;
  background-color: #ededed;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
  color: #4c4c4c;
}
.gap-item h2 {
  font-size: 0.64rem;
  margin-top: 0.5rem;
}
.gap-item p {
  font-size: 0.24rem;
}
.index-application {
  width: 100%;
  height: 5.34rem;
  background-color: #363636;
  text-align: center;
  padding-top: 0.5rem;
  margin: 0.48rem 0;
}
.index-application i {
  color: #fd8200;
  font-size: 2rem;
}
.index-application h2 {
  color: #fd8200;
  font-size: 0.32rem;
  margin-top: 0.5rem;
}
.index-application p {
  font-size: 0.28rem;
  color: #cccccc;
  width: 5.7rem;
  margin: 0.3rem auto;
}
.index-aboutus {
  color: #7f7f7f;
  font-size: 0.28rem;
  line-height: 0.44rem;
  padding: 0.2rem;
}
.index-aboutus img {
  width: 100%;
  margin-top: 0.4rem;
}
.index-kouhao {
  width: 100%;
  min-width: 4rem;
}
.index-kouhao div {
  width: 100%;
  height: 5.28rem;
  padding: 0.6rem;
  border-bottom: 1px solid #e5e5e5;
}
.index-kouhao div h3 {
  color: #8c8c8c;
  font-size: 0.5rem;
}
.index-kouhao div h4 {
  color: #fd8200;
  font-size: 0.4rem;
  margin: 0.2rem 0 0.4rem 0.1rem;
}
.index-kouhao div p {
  color: #7f7f7f;
  font-size: 0.28rem;
  line-height: 0.5rem;
}
#addr {
  width: 100%;
  height: 5rem;
}
.footer {
  background-color: #242424;
  width: 100%;
  height: 2.76rem;
  text-align: center;
  color: #f3f3f3;
  line-height: 0.5rem;
  padding-top: 0.2rem;
}
.footer img {
  display: inline;
  vertical-align: middle;
}

